@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

body{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
  z-index: -1000;
}

#row-one{
 position: relative;
 background-color: white;
 padding: 0 20vw;
 z-index: -999;
}

#cell{
  background-color: transparent;
  height: 100vh;
  margin: 0 -20vw;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#cell::before{
  content:'';
  color: black;
  position: absolute;
  background-image:url(https://unsplash.it/1200);
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

#cell1H{
  
  font-size: 20vw;
  font-weight: 800;
  background-color: red;
}

#cell2{
  height: 100vh;
  background-color: steelblue;
  margin: 0 -20vw;
  padding: 0 20vw;
  color: white;
}

#cell2::before{
  conent:'';
  top: 0;
  left:0;
  right:0;
  border-bottom: 10px solid white;
}

#cell3{
  background-color: orange;
  height: 100vh;
  width: 100%;
}
