@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


body{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', helvetica;
  font-weight: 400;
}

#row-one{
 position: relative;
 background-color: white;
 padding: 0 20vw;
}

#cell{
  position: relative;
  background-color: #37475a;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23c7a717' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  /*background-image:url(https://i.postimg.cc/xjwzHX04/portfolio-2.jpg);
  background-size: cover;
  background-position: bottom center;*/
  height: 100vh;
  margin: 0 -20vw;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#cell h1{
  padding-left: 10px;
  margin: 0;
  color: rgba(0,0,0,.7);
  font-size: 30vh;
  font-weight: 800;
  border-right: 20px solid #333;
}

#cell span{
  font-family:'Indie Flower', cursive;
  font-size: 25vh;
  font-weight: 800;
  color: orange
}

#cell1Btn{
  position: relative;
  margin: 0;
  width: 20vw;
  text-align: center;
  font-size: 5vh;
  font-weight: 600;
  padding: 10px;
  color: #222;
  border: 2px solid #222;
  border-radius: 10px;
}

#cell2{
  height: 100vh;
  background-color: steelblue;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffa500' fill-opacity='0.6' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  margin: 0 -20vw;
  padding: 0 20vw;
  color: white;
}

#cell2 h2{
  margin:0;
}

#cell2Btn{
}

#cell3{
  background-color: orange;
  height: 20vh;
  width: 100vw;
  margin: 0 -20vw;
  background-color: #ffa500;
background-color: #ffa500;
background-color: #ffa500;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%234682b4' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}
